@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Jost:ital,wght@0,100..900;1,100..900&family=Lusitana:wght@400;700&display=swap");

:root {
  --primary-100: #f9efe0;
  --primary: #cf8c0b;
  --text: #231f20;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  color: var(--text);
  font-family: "Jost", sans-serif;
}

.container {
  width: 100%;
  max-width: 1670px;
  margin: 0 auto;
}

.font-lusitana {
  font-family: "Lusitana", monospace;
}

.font-garamond {
  font-family: "Cormorant Garamond", serif;
}

.text-primary {
  color: var(--primary);
}

.header {
  background: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.header__section {
  display: flex;
}

.header__logo {
  background: var(--primary-100);
  padding: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 128px;
}

.header__nav {
  padding: 24px 32px;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 48px;
  margin-left: 48px;
}

.header__nav__item {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.035em;
  text-align: left;
}

.header__cart {
  position: relative;
  z-index: 1;
  border: 2px dashed white;
  margin: 14px 28px;
  font-size: 20px;
}

.header__cart__inner {
  background: white;
  padding: 12px;
  width: 44px;
  height: 44px;
}

.header__cart__badge {
  border-radius: 50%;
  background: black;
  color: white;
  font-size: 14px;
  position: absolute;
  top: -12px;
  right: -12px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  height: 100vh;
  width: 100%;
  position: relative;
  background: linear-gradient(107.15deg, #f9efe0 0%, #ded3c1 100%);
}

.hero__noise {
  width: 100%;
  height: 100%;
  background: url("./images/hero-overlay.png");
  opacity: 0.5;
  position: absolute;
  top: 0;
  mix-blend-mode: overlay;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  padding-top: 250px;
  text-align: center;
}

.hero__pre-title {
  color: var(--primary);
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: -0.035em;
  text-align: center;
  gap: 12px;

  &::before,
  &::after {
    content: "";
    width: 16px;
    height: 1px;
    background: var(--primary);
    display: block;
  }
}

.hero__title {
  margin-top: 12px;
  font-weight: 500;
  width: 716px;
  height: 192px;
  font-style: normal;
  font-size: 96px;
  line-height: 96px;
  letter-spacing: -0.035em;
}

.hero__text {
  margin-top: 32px;
  width: 706px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.hero__button {
  margin-top: 32px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 16px 32px;
  gap: 12px;
  height: 60px;
  background: rgba(207, 140, 11, 0.1);
  border: 1px solid #cf8c0b;
  font-family: inherit;
}

.hero__button__text {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-shadow: 2px 2px 0px #f9efe0;
}
