@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Jost:ital,wght@0,100..900;1,100..900&family=Lusitana:wght@400;700&display=swap");

:root {
  --primary-100: #f9efe0;
  --primary: #cf8c0b;
  --text: #231f20;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  color: var(--text);
  font-family: "Jost", sans-serif;
}

.container {
  width: 100%;
  max-width: 1670px;
  margin: 0 auto;
}

.font-lusitana {
  font-family: "Lusitana", serif;
}

.font-garamond {
  font-family: "Cormorant Garamond", serif;
}

.text-primary {
  color: var(--primary);
}

.section__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  text-align: center;
}

.section__pre-title {
  color: var(--primary);
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: -0.035em;
  text-align: center;
  gap: 12px;

  &::before,
  &::after {
    content: "";
    width: 16px;
    height: 1px;
    background: var(--primary);
    display: block;
  }
}

.section__title {
  margin-top: 12px;
  font-weight: 500;
  font-style: normal;
  font-size: 96px;
  line-height: 96px;
  letter-spacing: -0.035em;
}

.section__text {
  margin-top: 32px;
  width: 706px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.order-button {
  height: 48px;
  display: block;
  cursor: pointer;
  transform: rotate(-90deg) translateY(calc(50% + 34px));
  position: absolute;
  top: 210px;
  right: 0;
  letter-spacing: 0.1em;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  background: transparent;
  border-width: 2px;
  border-style: dashed;
  border-color: rgba(207, 140, 11, 0.2);
}

.order-button__inner {
  color: var(--primary);
  padding: 16px;
  height: 100%;
  display: block;
  background: rgba(207, 140, 11, 0.2);
}

.header {
  background: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.header__section {
  display: flex;
}

.header__logo {
  padding: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 128px;
  height: 128px;
  background: linear-gradient(
      0deg,
      rgba(207, 140, 11, 0.1),
      rgba(207, 140, 11, 0.1)
    ),
    var(--primary-100);
}

.header__nav {
  padding: 24px 32px;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 48px;
  margin-left: 48px;
}

.header__nav__item {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.035em;
  text-align: left;
}

.header__cart {
  position: relative;
  z-index: 1;
  border: 2px dashed white;
  margin: 14px 28px;
  font-size: 20px;
  display: flex;
}

.header__cart__inner {
  background: white;
  padding: 12px;
  width: 44px;
  height: 44px;
}

.header__cart__badge {
  border-radius: 50%;
  background: black;
  color: white;
  font-size: 14px;
  position: absolute;
  top: -12px;
  right: -12px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  height: 100vh;
  width: 100%;
  position: relative;
  background: linear-gradient(107.15deg, var(--primary-100) 0%, #ded3c1 100%);
}

.hero .section__title {
  width: 716px;
}

.hero__noise {
  width: 100%;
  height: 100%;
  background: url("./images/hero-overlay.png");
  opacity: 0.5;
  position: absolute;
  top: 0;
  mix-blend-mode: overlay;
}

.hero .section__content {
  padding-top: 250px;
}

.hero__button {
  margin-top: 32px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 16px 32px;
  gap: 12px;
  height: 60px;
  background: rgba(207, 140, 11, 0.1);
  border: 1px solid var(--primary);
  font-family: inherit;
}

.hero__button__text {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-shadow: 2px 2px 0px var(--primary-100);
}

.hero__bg-images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  pointer-events: none;
}

.hero__bg-image {
  position: absolute;
  object-fit: contain;
  height: auto;
}

.follow-us .section__pre-title {
  font-weight: 400;
}

.follow-us .section__title {
  position: relative;
  display: inline-flex;

  &::before {
    content: "";
    position: absolute;
    width: 103%;
    height: 32px;
    background: var(--primary-100);
    left: 50%;
    bottom: 0;
    transform: translateY(-50%) translateX(-50%);
    z-index: -1;
  }
}

.follow-us .section__content {
  padding: 198px 0;
}

.follow-us .section__text {
  margin-top: 24px;
  width: 720px;
}

.follow-us__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0px 0px;
  gap: 24px;
  height: 44px;
  margin-top: 24px;
}

.follow-us__footer__text {
  display: flex;
  align-items: center;
  height: 28px;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;

  &::after {
    content: "";
    display: block;
    width: 80px;
    height: 1px;
    background: var(--primary);
    margin-left: 26px;
  }
}

.follow-us__socials {
  display: flex;
  gap: 16px;
}
